@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
/* General font and background colors */
body{
	background: linear-gradient(-45deg, #ff781f,#ff8b3d, #ff9d5c,#ffaf7a);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    min-height: 100vh;
    margin: 0;
	font-family: 'Poppins', sans-serif;
}
/* Breathing Background */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* Navbar */
.navbar-dark {
	background-color: #14151a;
}
.navbar-dark .nav-link:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 1.5s infinite;
  }
  
  @-webkit-keyframes shine {
	0% {
	  -webkit-mask-position: 150%;
	}
	
	50% {
	  -webkit-mask-position: -50%;
	}

	100% {
		-webkit-mask-position: 150%;
	}
}

/* Difficulty Font Colors */
.diff-0 {
	color: #00b8a3;
}
.diff-1 {
	color: #ffc01e;
}
.diff-2 {
	color: #ff375f;
}

/* Bootstrap Modals are by default light, dark background and white text them */
.modal-dark {
	color: white;
	background-color: var(--bs-dark);
}
.modal-dark .modal-header{
	border-bottom: 0px;
}
.modal-dark .modal-footer{
	border-top: 0px;
}

/* The arrow in the navbar when in mobile or tablet view. */
.fa-circle-chevron-down{
	transition: all 500ms;
}

.collapsed .fa-circle-chevron-down{
	transform: rotate(90deg);
}

/* Command text formatting to distinguish it from the surrounding text. */
.command{
	font-family: 'Ubuntu Mono', monospace;
	background-color: black;
}