aiohttp==3.7.4.post0
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.4.0
certifi==2022.6.15
chardet==4.0.0
Django==3.2.5
idna==3.3
multidict==6.0.2
pip==21.2.2
psycopg2==2.8.6
py-cord==1.7.3
pytz==2022.1
setuptools==61.2.0
sqlparse==0.4.1
typing_extensions==4.1.1
wheel==0.37.1
wincertstore==0.2
yarl==1.7.2
