{% extends 'base.html' %}
{% load static %}
{% block title %}Leetcord Commands{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'General/cards.css' %}">
{% endblock %}
{% block body %}
<div class="container">
    <div class="row pb-2">
        <div class="col-12 mb-2">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    <h3>Progress Module</h3>
                </div>
                <div class="card-body">
                    <p>Solved: <span class="command rounded p-1">.solved [Leetcode Number/Leetcode Slug/Leetcode URL]</span> 
                        If the user is registered they can add a solution to the database. On success the command will send an embed containing a link to the solution. Otherwise, if it fails, the command will indicate as such.
                    </p>
                    <p>Add Takeaway: <span class="command rounded p-1">.takeaway [Solve ID] (Takeaway)</span> 
                        If the user is registered and is associated with a solution they can add a takaway to their solution. On success the command will send an embed containing a link to the solution. Otherwise, if it fails, the command will indicate as such.
                    </p>
                    <p>Delete Solution: <span class="command rounded p-1">.delete [Solve ID]</span> 
                        If the user is registered and is associated with a solution they can delete it.
                    </p>
                    <p>Get Stats: <span class="command rounded p-1">.stats (Mention)</span> 
                        Gets a member's stats. If no member is provided, the caller's stats will be displayed.
                    </p>
                    <p>Get Problem: <span class="command rounded p-1">.problem [Leetcode Number/Leetcode Slug/Leetcode URL]</span> 
                        If a problem is listed in the database it will fetch it and display the 5 recent solutions submitted for it.
                    </p>
                    <p>Get Recent: <span class="command rounded p-1">.recent (Mention)</span> 
                        Displays the most recent solutions sent to the database. If a user is provided the command will fetch the most recent solutions from that person.
                    </p>
                    <p>Leeterboard: <span class="command rounded p-1">.leeterboard</span> 
                        Display's the top 5 users with most solved problems.
                    </p>
                    <p>Get User Info: <span class="command rounded p-1">.user (Mention)</span> 
                        If a Member is given it will display their number of solutions as well as a link to their information. Otherwise it will display the invoker's information. If the user doesn't exist it will indicate as such.
                    </p>
                    <p>Update User Info: <span class="command rounded p-1">.update</span> 
                        Synchronizes your Discord Image and Discord Nickname with the database.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    <h3>Linking Module</h3>
                </div>
                <div class="card-body">
                    <p>Daily Question: <span class="command rounded p-1">.daily</span> 
                        Provides a link to LeetCode's daily question.
                    </p>
                    <p>Random Question: <span class="command rounded p-1">.random (easy/medium/hard) (premium)</span> 
                        This command by default provides a random choice from non-premium questions from LeetCode. If a difficulty is provided the search will be limited to that selection. If premium is passed as a parameter the search will be expanded to include premium problems.
                    </p>
                    <p>About: <span class="command rounded p-1">.about</span> 
                        Provides a link to the <a href="{% url 'General:about' %}">about page</a>.
                    </p>
                    <p>NeetCode: <span class="command rounded p-1">.neetcode</span> 
                        Provides a link to Neetcode.
                    </p>
                    <p>LeetCode: <span class="command rounded p-1">.leetcode</span> 
                        Provides a link to LeetCode.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}