{% extends 'base.html' %}
{% load static %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'Data/userCard.css' %}"></link>
<link rel="stylesheet" href="{% static 'Data/table.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            {% if solve %}
            <div class="col-auto col-md-5 col-lg-4 col-xl-3 mb-2">
                <div class="card text-white ml-md-auto mr-md-auto" style="max-width: 18rem;text-decoration: none;">
                    <a href="{% url 'Data:member' discord_id=solve.solvee.discordID%}" class="rounded-circle p-2 bg-dark" id="PFP">
                        <img src="{{solve.solvee.discordPFP}}" class="card-img-top rounded-circle" alt="{{solve.solvee.discordName}}'s PFP">
                    </a>
                    <div class="card-body pt-5 rounded">
                        <h5 class="card-title text-center">{{solve.solvee.discordName}}</h5>
                        <p class="card-text"><strong>Leetcode Number :</strong> {{solve.problem.problem_number}}</p>
                        <p class="card-text"><strong>Problem Name :</strong> {{solve.problem.problem_name}}</p>
                        <p class="card-text"><strong>Difficulty :</strong> <span class="diff-{{solve.problem.difficulty}}">{{solve.problem.get_difficulty_display}}</span></p>
                        <p class="card-text"><strong>Premium? :</strong> {% if solve.problem.premium %}Yes <i class="fa-solid fa-lock"></i> {% else %}No <i class="fa-solid fa-lock-open"></i> {% endif %}</p>
                        <p class="card-text"><strong>Solved On :</strong> {{solve.date}}</p>
                        <span class="d-inline-block mt-2">
                            <a class="btn btn-success" href="https://leetcode.com/problems/{{solve.problem.slug}}/" target="_blank">View Problem</a>
                            <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Modify</button>
                        </span>
                        {% if solve.takeaway %}
                        <p class="card-text text-center mt-2"><strong>Takeaway</strong></p>
                        <textarea class="form-control" rows="5" readonly placeholder="{{solve.takeaway}}"></textarea>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8 col-xl-9">
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <td class="text-center rounded-top" colspan="100">10 Recent Solutions For {{solve.problem.problem_name}}</td>
                        </tr>
                        <tr>
                            <th scope="col">
                                <p class="d-none d-lg-inline"><i class="fa-brands fa-discord"></i> Discord </p>
                                User
                            </th>
                            <th scope="col">
                                <i class="fa-solid fa-comments d-none d-lg-inline"> </i>
                                Takeaway?
                            </th>
                            <th scope="col" class="d-none d-md-table-cell sm-round">
                                <i class="fa-solid fa-calendar-day d-none d-lg-inline"> </i>
                                Date Solved
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for problem_solve in ProblemSolves %}
                        <tr data-href="{% url 'Data:solution' id=problem_solve.id %}">
                            <td scope="row" class="align-text-center">
                                <img src="{{problem_solve.solvee.discordPFP}}" alt="Leetcode Logo" width="32" height="32" class="d-inline-block rounded-circle">
                                {{problem_solve.solvee.discordName}}
                            </td>
                            <td>
                                {% if problem_solve.takeaway %}
                                <i class="fa-solid fa-check text-success"></i>
                                {% else %}
                                <i class="fa-solid fa-x text-danger"></i>
                                {% endif %}
                            </td>
                            <td class="md-round d-none d-md-table-cell">{{problem_solve.date}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center rounded-bottom" colspan="100" style="font-size: 3vmax ;" id="NONE">No Data Was Found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading"><i class="fa-solid fa-triangle-exclamation"></i> Critical Error!</h4>
                    <hr>
                    <p class="mb-0">A solution with an ID of {{id}} was not found on the server. This solve may have been deleted or there may be an error in the URL.</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content modal-dark text-white">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modify This Solution</h5>
            </div>
            <div class="modal-body">
              <p class="d-block">In order to run any of the following commands you must be the owner of this solution.</p>
              <span class="d-block">
                Add Takeaway: 
                <strong style="font-family: 'Ubuntu Mono', monospace;">
                    .takeaway {{solve.id}} "YOUR TAKEAWAY"
                </strong>
                <button type="button" data-copy='.takeaway {{solve.id}} "YOUR TAKEAWAY"' class="btn btn-outline-light btn-copy"><i class="fa-solid fa-copy"></i></button>
            </span>
              <span class="d-block">
                Delete Solution: 
                <strong style="font-family: 'Ubuntu Mono', monospace;">
                    .delete {{solve.id}}
                </strong>
                <button type="button" data-copy=".delete {{solve.id}}" class="btn btn-outline-light btn-copy"><i class="fa-solid fa-copy"></i></button>
            </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block JS %}
<script src="{% static 'Data/table.js' %}"></script>
{% endblock %}