/* Round up to the column labeled .sm-round */
thead tr th:first-of-type{
    border-radius: 0.25rem 0rem 0rem 0rem;
}
thead tr th.sm-round{
    border-radius: 0rem 0.25rem 0rem 0rem;
}
tbody tr:last-of-type td:first-of-type{
    border-radius: 0rem 0rem 0rem 0.25rem;
}
tbody tr:last-of-type td.sm-round{
    border-radius: 0rem 0rem 0.25rem 0rem;
}

/* If the screen is md or greater make the rightmost column have rounding */
@media only screen and (min-width: 768px) {
    thead tr th.sm-round{
        border-radius: 0rem;
    }
    tbody tr:last-of-type td.sm-round{
        border-radius: 0rem;
    }
    thead tr th.md-round{
        border-radius: 0rem 0.25rem 0rem 0rem;
    }
    tbody tr:last-of-type td.md-round{
        border-radius: 0rem 0rem 0.25rem 0rem;
    }
}

/* If the screen is md or greater make the rightmost column have rounding */
@media only screen and (min-width: 992px) {
    thead tr th.md-round{
        border-radius: 0rem;
    }
    tbody tr:last-of-type td.md-round{
        border-radius: 0rem;
    }
    thead tr th:last-of-type{
        border-radius: 0rem 0.25rem 0rem 0rem;
    }
    tbody tr:last-of-type td:last-of-type{
        border-radius: 0rem 0rem 0.25rem 0rem;
    }
}

tbody tr:last-of-type td {
    border-bottom-width: 0px;
}

thead tr th {
    border-bottom-color: #32383e !important;
    border-bottom-width: 3px !important;
}